.images {
  float: left;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 15%;
}

#myCanvas {
  height: 400px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 2;
}

.earth {
  width: 300px;
  filter: saturate(2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.halfCircle {
  width: 350px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 15%;
  position: absolute;
  margin: auto;
  opacity: .875;
  box-shadow: 0 0 30px 30px #000;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.line {
  top: 0;
  left: 0;
  right: 0;
  bottom: 15%;
  position: absolute;
  margin: auto;
  z-index: 1;
  opacity: 0;
}

.form-control {
  background-color:#000000;
  color: white;
}

.form-select {
  background-color:#000000;
  color: white;
}
